<template>
  <v-app id="inspire">
    <v-container grid-list-md text-xs-center pb-4>
      <v-layout row wrap>
        <v-flex xs12 md6 fill-height>
            <!-- <img class="dog-image" src="src/assets/photo-dog1.jpeg" alt=""> -->
            <v-img :aspect-ratio="8/8" :src="srcDog1">
                <v-layout pa-2 column fill-height class="lightbox white--text">
                    <v-spacer></v-spacer>
                    <v-flex shrink>
                    <div class="subheading">Charles Deluvio</div>
                    <div class="body-1">https://unsplash.com/@charlesdeluvio</div>
                    </v-flex>
                </v-layout>
            </v-img>
        </v-flex>
        <v-flex class="content-home" xs12 sm12 md6 pt-5 d-flex jalign-center align-center>
            <div class="headline-box">
                <span class="headline-dark">We can help you to choose</span>
                <span class="headline-dark">name for your dog!</span>
            </div>
            <div class="text-content pt-5">
                <p class="subheading text-sm-left main-content-home">Select the breed or similar of your dog <br>
    then choose gender and press the button <br>
    every time you want to see new generate name.</p>
            </div>
            <v-card-actions class="center pt-4">
                    <v-btn color="info" to="/generator">let's get started</v-btn>
            </v-card-actions>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
    name: 'Home',
    data() {
      return {
        srcDog1: require('@/assets/photo-dog1.jpeg')
      }
    }
}
</script>
<style lang="stylus" scoped>
.home-page
    width 100%
    height 100vh
    flex-direction column
    overflow-y auto
    padding 100px 0px
.main-content-home
    @media screen and (max-width: 450px)
      font-size 1em
.dog-image
   @media screen and (max-width: 450px)
     width 100% 
.content-home
    width 100%
    flex-direction column
.headline-box
    display flex
    flex-direction column
    align-items flex-start
    .headline-dark
        color #fff
        background-color #222
        padding 10px
        font-size 2.2em
        margin 5px
        @media screen and (max-width: 450px)
            font-size 1.8em
        @media screen and (max-width: 380px)
            font-size 1.5em
</style>
