<template>
  <div id="app">
    <a href="https://www.aleksandar.es/" target="_blank">
    <div class="alex-site">A:</div>
    </a>
    <router-view/>
  </div>
</template>
<style lang="stylus">
.alex-site
  width 60px
  height 60px
  background-color #222
  padding 10px
  font-family sans-serif
  font-weight bold
  position absolute
  color #fff
  top 0
  left 0
  z-index 100
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
</style>

